*{
  margin: 0px;
  padding: 0px;
  color: aliceblue;
 
}
html{
  width: 100vw;
  overflow-x: hidden;
}

body{

  height: 5174px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
 
 
  font-size: 20px;
}